SMTP_HOST=smtp.dashatutor.com.ua
SMTP_PORT=587
SMTP_USERNAME=no-reply@dashatutor.com.ua
SMTP_PASSWORD=rV5uH8rI8k
SMTP_ENCRYPTION=tls
SMTP_TIMEOUT=30
CONTACT_RECIPIENT=pvitaly91@gmail.com
CONTACT_SENDER=no-reply@dashatutor.com.ua
